{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}

<nav id="js-primary-nav" class="primary-nav clearfix">
	{{ menus.menu_links(items, attributes, 0) }}

	<div class="primary-nav__skew"></div>
</nav>

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}

    {% if menu_level == 0 %}
<ul{{ attributes.addClass('primary-nav__list clearfix') }}>
	{% else %}
	<ul class="primary-nav__child-list clearfix">
		{% endif %}
		{% for item in items %}
			{% if menu_level > 0 %}
				<li class="primary-nav__child-item">
			{% else %}
				{% if item.below %}
					{% if item.in_active_trail %}
					<li{{ item.attributes.addClass('primary-nav__item', 'primary-nav__item--has-children', 'primary-nav__item--on-current-page') }}>
					{% else %}
						<li{{ item.attributes.addClass('primary-nav__item', 'primary-nav__item--has-children') }}>
					{% endif %}
				{% else %}
					<li{{ item.attributes.addClass('primary-nav__item') }}>
				{% endif %}
			{% endif %}
			<a href="{{ item.url }}" class="{% if menu_level > 0 %}primary-nav__child-link{% else %}primary-nav__link{% endif %}">
				{{ item.title }}{% if menu_level > 0 %}<svg class="brei-icon brei-icon-arrow"><use xlink:href="#brei-icon-arrow"></use></svg>{% endif %}
			</a>
			{% if item.below %}
				<a href="#" class="primary-nav__child-list-trigger" title="Toggle the child navigation of the '{{ item.title }}' list item">
					<svg class="brei-icon brei-icon-chevron"><use xlink:href="#brei-icon-chevron"></use></svg>
					<span class="show-for-sr">Toggle the child navigation of the '{{ item.title }}' list item</span>
				</a>

				{{ menus.menu_links(item.below, attributes, menu_level + 1) }}
			{% endif %}
			</li>
		{% endfor %}
	</ul>
	{% endif %}
{% endmacro %}
