<!-- partial:result -->
<a href="#" class="result">
	<figure class="result__figure">
			<span class="result__type">
				{{svg icon}}
				<span class="show-for-sr">{{type}}</span>
			</span>
		<div class="result__image">
			<img src="{{thumbnail}}" alt="Thumbnail of project" />
		</div>
		<figcaption class="result__caption">
			<h5 class="result__title">{{title}}</h5>
			<p>{{description}}</p>

			{{#if skills}}
				<dl class="result__skills">
					{{#each skills}}
						<dt class="result__skill">{{this}}</dt>
					{{/each}}
				</dl>
			{{/if}}
		</figcaption>
	</figure>
</a>
<!-- end partial:result -->
