<article class="content{{#if style}} {{style}}{{/if}}">

	{{#if heading}}
		<header class="content__header">
			<h1>{{ heading }}</h1>
			{{#if time}}
				<time>{{time}}</time>
			{{/if}}
		</header>
	{{/if}}

	{{#if posts}}
		<div class="content__posts posts__posts">
			<ul>
				{{#each posts}}
					<li class="posts__post">
						<a href="{{url}}" class="posts__link">{{title}}</a>
					</li>
				{{/each}}
			</ul>
			{{#if links}}
				<footer class="content__footer">
					<ul class="links inline">
						{{#each links}}
							<li class="node-readmore">
								<a href="/hello-world" rel="tag" title="Hello World" hreflang="en">Read more<span class="visually-hidden"> about Hello World</span></a>
							</li>
						{{/each}}
					</ul>
				</footer>
			{{/if}}
		</div>
	{{/if}}

</article>
